.cover__background-overlay {
  background: url(../../../images/cover-route-66.jpg);
  background-position: center;
  width: 100%;
  max-width: 1184px;
  min-height: 740px;
  background-size: cover;
  position: relative;
  text-decoration: none;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cover__background-overlay::after {
  width: 100%;
  height: 100%;

  position: absolute;
  z-index: 2;

  content: '';
  background: #2a2c2f;
  opacity: 0.3;
  transition: opacity 1s linear .2s;
}

.cover__background-overlay:hover::after {
  opacity: 0.8;
}

@media screen and (max-width: 1024px) {
  .cover__background-overlay {
    min-height: 640px;
  }
}

@media screen and (max-width: 768px) {
  .cover__background-overlay {
    min-height: 480px;
  }
}

@media screen and (max-width: 450px) {
  .cover__background-overlay {
    min-height: 200px;
  }
}
