.place__title {
  font-size: 72px;
  font-weight: 900;
  line-height: 1.05;
  text-align: left;
  margin: 0 0 48px 0;
  width: 460px;
}

@media screen and (max-width: 1024px) {
  .place__title {
    width: 440px;
  }
}

@media screen and (max-width: 808px) {
  .place__title {
    width: 340px;
    font-size: 42px;
    line-height: 1.1;
  }
}


@media screen and (max-width: 450px) {
  .place__title {
    width: 288px;
    margin: auto;
    font-size: 32px;
  }
}
