@import url(./__lang-link/header__lang-link.css);

@import url(./__lang-link/_active/header__lang-link_active.css);

.header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  max-width: 984px;
  margin: 0 auto 0;
  padding-top: 34px;
}

@media screen and (max-width: 1024px) {
  .header {
    max-width: 90%;
  }
}

@media screen and (max-width: 800px) {
  .header {
    max-width: 94%;
  }
}

@media screen and (max-width: 700px) {
  .header {
    max-width: 90%;
  }
}


@media screen and (max-width: 450px) {
  .header {
    padding-top: 20px;
  }
}

