.place__paragraph {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6;
  text-align: left;
  margin: 26px 0 0 0;
  max-width: 484px;
}

.place__paragraph:first-of-type {
  margin-top: 0;
}

@media screen and (max-width: 1024px) {
  .place__paragraph {
    max-width: 456px;
  }
}

@media screen and (max-width: 940px) {
  .place__paragraph {
    font-size: 16px;
    max-width: 352px;
  }
}

@media screen and (max-width: 450px) {
  .place__paragraph {
    max-width: 288px;
    margin: 26px auto 0;
  }
}
