@import url(./__background-overlay/cover__background-overlay.css);
@import url(./__title/cover__title.css);
@import url(./__subtitle/cover__subtitle.css);
@import url(./__text-wrapper/cover__text-wrapper.css);



.cover {
  display: flex;
  justify-content: center;
  z-index: 1;
}

