.cover__background {
  background: url(../../../images/cover-route-66.jpg);
  background-position: center;
  width: inherit;
  height: inherit;
  background-size: cover;
  z-index: 1;
  margin: 0;
  position: absolute;
}
