.cover__title {
  font-size: 72px;
  font-weight: 900;
  line-height: 1.05;
  text-align: center;
  margin: auto auto 32px;
  max-width: 656px;
}

@media screen and (max-width: 1024px) {
  .cover__title {
    font-size: calc(32px + (72 - 32) * ((100vw - 450px) / (1024 - 450)));
  }
}

@media screen and (max-width: 450px) {
  .cover__title {
    font-size: 32px;
    line-height: 1.1;
    max-width: 288px;
  }
}
